.parent
{
    display: flex;
    align-items: flex-start;
    height: calc(100% - 64px);
}

.mat-nav-list
{
    padding-top: 0;
}

.contact-scroller
{
    width: 20%;
    overflow-y: auto;
    height: 100%;
    
}


@media only screen and (max-width: 450px) {
    .contact-scroller {
        width: 100%;
        min-width: 300px;
    }

    .contact-viewer
    {
        flex-grow: 0;
        width: 0%;
        height: 0%;
        display: none;
    }
}

@media only screen and (max-width: 600px) and (min-width: 450px) {
    .contact-scroller {
        width: 50%;
        min-width: unset;
    }
}

@media only screen and (max-width: 900px) and (min-width: 600px) {
    .contact-scroller {
        width: 35%;
        min-width: unset;
    }
}

.contact-viewer
{
    flex-grow: 1;
    height: 100%;
}